%footer
  %ul.list-inline
    %li &copy; Language of Color 2015
    %li #{ link_to 'Disclaimer', '/disclaimer'}
    %li #{ link_to 'Privacy', '/privacy-statemnt'}
    %li #{ link_to 'International Colour Association', 'http://aic-color.org/', target: '_blank' }
