.panel.panel-info
  .panel-heading
    %h4 Membership
  .panel-body
    %p
      Members of
      %strong The Language of Color
      study group can see each others full contact details. They also get priviledged access to publication and data sets.
    %p= link_to 'Register now', new_member_registration_path, {class: 'btn btn-primary'} unless current_member
    %p It's free.
.panel.panel-info
  .panel-heading
    %h4
      Twitter
      %span.small
        = link_to "Follow us", '#'
  .panel-body
    %ul.list-unstyled#twitter
      %li
        RT @andistuder: LFT #OffThePage a literary festival on music by @thewiremagazine @Qujunktions & @ArnolfiniArts http://t.co/0OpkTIxZQn
        .small 5 months ago from Hootsuite
      %li
        RT @tweetsatthehub: 5 days until the #OneDayer - The Future of Independent Live Music, Tech & Finance. 12 Sept http://t.co/tCo9Ykhr2J
        .small 5 months ago from Hootsuite
      %li
        Big ups to PoolLoop, festival for experimental instruments in Zurich 1-7 Jul http://t.co/INA9xFOzVE
        .small over 1 year ago from Hootsuite
    %p
      = link_to 'Follow us', '#', {class: 'btn btn-primary'}