%h1
  About Language of Colour
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium nisi non finibus iaculis. Sed ut nibh convallis, tincidunt massa at, elementum purus. Aenean vel accumsan lorem, ac aliquet quam. Vestibulum mattis tristique pulvinar. Morbi convallis nibh eu lorem viverra mattis. Aliquam fringilla vitae lacus quis mattis. Nulla et quam magna. Nunc tincidunt rutrum nibh, nec dignissim erat interdum sed. Praesent mattis quis lacus ac varius. Fusce risus est, porta et turpis at, placerat faucibus urna. Quisque est quam, mollis nec dui eget, molestie placerat lectus. Morbi nisl ante, porta ut congue id, molestie nec augue. Fusce quis turpis lectus. Phasellus ac laoreet lectus.
%h2
  Ut efficitur
%p
  Ut efficitur elit gravida nunc tincidunt, non porta neque facilisis. Nulla enim nibh, pulvinar ac ex vel, pulvinar blandit felis. Sed fringilla justo vitae nisi scelerisque, sed aliquet lacus tempus. Mauris quis mauris venenatis, posuere libero in, commodo lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed laoreet, nisi sit amet faucibus eleifend, velit sem porttitor arcu, pharetra consectetur quam libero id augue. Pellentesque lobortis metus eu magna mattis, eget hendrerit neque laoreet.

%p
  Duis convallis tempor diam vitae auctor. Fusce interdum purus eu diam accumsan, eu aliquet lorem volutpat. Praesent et tempus nulla. Sed iaculis, purus in sagittis rhoncus, sem neque mattis erat, ac vehicula eros lacus viverra mi. Aliquam nec lorem ac mi sagittis porttitor. Sed dignissim lorem eu tellus imperdiet varius. Mauris vitae turpis aliquam ante facilisis tristique in et orci. Aenean a dictum urna.

%p
  Vivamus risus velit, semper quis enim quis, tempus fringilla turpis. Ut tristique ligula sed tellus hendrerit ultrices.
  = link_to 'Cras in', '#'
  augue velit. Quisque felis ante, porta at ipsum vel, ullamcorper ornare nunc. Integer a aliquam ipsum. Donec quis velit rhoncus, lobortis dolor faucibus, faucibus nibh. Aenean faucibus nibh vel mauris condimentum elementum. Nullam sit amet elementum felis.

%ul
  %li
    ='Some list'
  %li
    ='Another'

%p
  Vivamus nibh ligula, suscipit in iaculis sed, pellentesque sed tortor. Aliquam blandit cursus velit, eu eleifend diam aliquam et. Maecenas a nibh sem. Nullam nec nulla lacinia, dignissim nibh ac, suscipit sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam vel lorem at ex tincidunt euismod vitae at nunc. Aliquam sapien nisi, vehicula quis vulputate ut, facilisis vel dui. Mauris nibh enim, vestibulum ac finibus sed, semper eget augue. Aenean suscipit massa sit amet neque molestie, sit amet mattis elit vehicula. Proin blandit vestibulum quam a pharetra. Praesent ex elit, molestie at ante a, pretium venenatis velit. Praesent at feugiat elit, vel viverra lectus. Sed auctor nibh eget mauris pretium ornare. Praesent lectus elit, fermentum sed cursus vitae, vehicula quis magna. Quisque posuere erat ac interdum blandit.
