- content_for :title, "About the Language of Color AIC Study Group"
%h1
  About the Language of Color
  %span.small AIC Study Group

%h2 Scope
%p
  The purpose of the AIC Study Group on the Language of Colour (SGLC) is to share information on and discuss studies on psycho-linguistics, semantics and semiotics of colour names and relation of these to cognitive (neuro)science of colour perception. Key topics are colour cognition, colour naming, categorisation, colour memory, colour semantics and semiotics, and cross-cultural differences.

%h2 Chairman: Dimitris Mylonas
%p
  Department of Computer Science, University College London (UCL), UK
  %br
  = link_to 'd.mylonas@ucl.ac.uk', 'mailto:d.mylonas@ucl.ac.uk'
  %br
  = link_to '@dimitrismylonas', 'https://twitter.com/dimitrismylonas', target: '_blank'

%p Dimitris obtained MSc in Digital Colour Imaging from the University of the Arts London for his work on colour naming in different cultures. After holding a research post in applied colour science at the School of Psychology, University of Liverpool, he worked in the Wellcome Laboratory of Neurobiology, University College London. He continued his research in Media and Arts Technology at the School of Electronic Engineering and Computer Science, Queen Mary University of London and he is currently a PhD student at the Computer Science, University College London.
%p In 2010 Dimitris received the W.D. Wright Award from The Colour Group (Great Britain) and in 2014/2015 was Membership Secretary of the society. In 2013 he was a member of the Organising Committee of the AIC 2013 Congress in Newcastle, UK.  From 2015 Dimitris is Chairman of the Study Group 'Language of Colour' of the AIC.

%h2 Co-Chairwoman: Prof. Galina Paramei

%p
  Department of Psychology, Liverpool Hope University, UK
  %br
  = link_to 'parameg@hope.ac.uk', 'mailto:parameg@hope.ac.uk'

%p
  Galina obtained her PhD (General Psychology) from Moscow Lomonosov State University (Russia) and Dr. habil./Venia legendi (Cognitive Neuroscience) from Ruhr-University Bochum (Germany). Her main research interest is in Colour Vision and Colour Cognition. Currently she is Professor of Psychology at Liver­pool Hope University (UK). In Colour Cognition, she studies language-specific colour categorisation, in particular, colour naming in Russian and Italian and, as well, in bilinguals (German-English, Italian-English and Mandarin Chinese-Eng­lish).
%p
  In 2005-06 she was part of a nine-language project Colour Around the Baltic Sea. She co-edited a book Anthropology of Color: Interdisciplinary Multilevel Mod­eling (Amsterdam: John Benjamins; 2007) whose focus is on the role of social and cultural constraints on evolution and structure of colour categories. From 2008 Galina is a member of The Colour Group (Great Britain); in 2010-12 she was a member of the CGGB Executive Committee. She co-organised several annual Vision Meetings of the CGGB: in 2010 (London), 2012 (Cambridge) and 2015 (London). In 2013 Galina was a keynote speaker at the Colour Language and Colour Categorization conference in Tallinn (Estonia).
