- content_for :title, "Bibliography"
%h1 Bibliography

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
        %span
          AIC 2008 Interim Meeting, Colour
          –Effects & Affects
          %br
          Hotel Rival, Stockholm, Sweden, June 15-18, 2008
  %tbody
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              p136
              %br
              Ohh…Green! How ‘reen Architecture’is
              affecting the chromaticness of our built environment
              %br
              Verena M. SCHINDLER
              %br
              Atelier Cler Etudes Chromatiques, Paris
    %tr
      %td
        %table
          %tr
            %td p88
          %tr
            %td
              Media Façades –Architectural Color
              in Motion
              %br
              PhD arch. Justyna TARAJKO - KOWALSKA
              %br
              Cracow University of Technology PK, Cracow University
              of Economy UEK, Poland
    %tr
      %td
        %table
          %tr
            %td p25
          %tr
            %td
              The Colour Management in social
              housing
              %br
              Lisbon XXI Century
              %br
              Maria Cristina PINHEIRO
              %br
              APC – Associaç ã Portuguesa da Cor, Secretary
              %br
              Unidcom IADE – Unidade de Investigaç  ã em
              Comunicaç ã e Design
              %br
              Dissertation for Master degree on Colour for Architecture,
              FA.UTL, Lisbon.
    %tr
      %td
        %table
          %tr
            %td p57
          %tr
            %td
              Simulation of Emerging Color Arrangement
              of Cityscape and Psychological Evaluation
              %br
              Taiichiro ISHIDA and Hideki TANAKA
              %br
              Department of Architecture and Architectural Engineering,
              Graduate School of Engineering,
              %br
              Kyoto University
    %tr
      %td
        %table
          %tr
            %td p121
          %tr
            %td
              Colour Preferences for Facades
              of Detached Houses in Japan
              %br
              Sari YAMAMOTO*, Seiya INOUE† Munenori Ota‡and Kiyoshi
              NISHIKAWA*
              %br
              *Institute of Art and Design, University of Tsukuba
              %br
              †sukuba University of Technology ‡sahi Kasei Construction
              Materials
    %tr
      %td
        %table
          %tr
            %td p79
          %tr
            %td
              The colours of the city: old colours
              and new colours
              %br
              Carlos SÁENZ, Begoña HERNÁNDEZ, Coro ALBERDI, Santiago
              ALFONSO, José Manuel
              %br
              DIÑEIRO
              %br
              Departmento de Física, Universidad Pública de Navarra,
              Pamplona, Spain
    %tr
      %td
        %table
          %tr
            %td p140
          %tr
            %td
              Emotional Response to Interior
              Room Colour Attributes
              %br
              \- in Full-Scale Room Modelling -
              %br
              Anna Katharina HIRSCHMÜLLER*, Hans IRTEL‡ Markus
              SCHLEGEL†õ
              %br
              * Center for Doctoral Studies in Social & Behavioral
              Sciences, University of Mannheim
              %br
              ‡aculty of Social Sciences, University of Mannheim
              %br
              † Institute International Trendscouting, University
              of Applied Sciences and Arts Hildesheim
  %thead
    %tr
      %th
        %span
          AIC
          2008 Interim Meeting, Colour –Effects & Affects
          %br
          Hotel Rival, Stockholm, Sweden, June 15-18, 2008
  %tbody
    %tr
      %td
        %table
          %tr
            %td p167
          %tr
            %td
              Colour/Place Association: Measuring
              Place-Correlation in Kyoto and Bangkok Cityscapes
              through Mosaic Images
              %br
              Yoshinao HIRAKI*, Satoshi SAKAI*, Tetsuya SATO*,
              Taiichiro ISHIDA†, and Aran HANSUEBSAI‡ *Graduate
              School of Science and Technology, Kyoto Institute
              of Technology †Faculty of Engineering, Kyoto University
              ‡ Faculty of Science, Chulalongkorn University
    %tr
      %td
        %table
          %tr
            %td p150
          %tr
            %td
              Study on Quantifying Signs and
              Advertisements of Passageway in Public Buildings:
              %br
              International Comparison of Airports and Subway
              Stations
              %br
              Yuki AKIZUKI *, Shino OKUDA**, Michico IWATA† and
              Takeyoshi TANAKA‡
              %br
              * Faculty of Human Development, University of Toyama
              %br
              ** Faculty of Human Life and Science, Doshisha Women’s
              College of Liberal Arts
              %br
              †Faculty of Engineering, Setsunan University
              %br
              ‡Disaster Prevention Research Institute, Kyoto University
    %tr
      %td
        %table
          %tr
            %td p60
          %tr
            %td
              Effect of Coloured Light on Atmosphere
              Perception
              %br
              Ingrid VOGELS, Maartje DE VRIES and Thomas VAN ERP
              %br
              Philips Research Europe
    %tr
      %td
        %table
          %tr
            %td p134
          %tr
            %td
              Chromatic Urbanscape: How specific
              geographical sites
              %br
              affect colour and how colour has an effect on landscape,
              the urban fabric and architecture
              %br
              Michel CLER*, France CLER*, Verena M. SCHINDLER*
              %br
              * Atelier Cler Etudes Chromatiques, Paris
    %tr
      %td
        %table
          %tr
            %td p165
          %tr
            %td
              From intention to intuition, when
              colour shapes the town
              %br
              Xavièe Ollier, Designer colourist and Phd reasercher
              , Domitille CHAVIGNY, Designer Colourist, Vanessa
              LEHNER, Designer Colourist, Soizic BOUCAULT, Business
              Development Manager.
    %tr
      %td
        %table
          %tr
            %td p141
          %tr
            %td
              Colour in urban image revitalization:
              Paiã –Brandoa, a "squat" neighborhood in Lisbon’
              border
              %br
              Sandra CALDAS, Luís BISSAU and Zélia SIMÕES
              %br
              Portuguese Colour Association (APCOR)
    %tr
      %td
        %table
          %tr
            %td p163
          %tr
            %td
              Chromatic Intervention in Urban
              Areas : Sustainable Aspects
              %br
              Marí Mercedes AVILA, Darí SUAREZ, Marcelo BALIAN,
              and JoséLuis CAIVANO
              %br
              Institute of Color, Faculty of Architecture, Town
              Planning and Design,
              %br
              National University of Cordoba, Argentina
  %thead
    %tr
      %th
        %span
          AIC
          2008 Interim Meeting, Colour –Effects & Affects
          %br
          Hotel Rival, Stockholm, Sweden, June 15-18, 2008
  %tbody
    %tr
      %td
        %table
          %tr
            %td p146
          %tr
            %td
              Colour, texture and aesthetic
              preference
              %br
              Manuela SOARES
              %br
              Portuguese Colour Association
    %tr
      %td
        %table
          %tr
            %td p145
          %tr
            %td
              The Effect of Color Illumination
              of the Street Trees
              %br
              Shino OKUDA*
              %br
              * Faculty of Human Life and Science, Doshisha Women’
              College of Liberal Arts
    %tr
      %td
        %table
          %tr
            %td p84
          %tr
            %td
              The powers of attraction of chromatic
              light
              %br
              Markus REISINGER, Ana HUEDO * and Ingrid VOGELS*
              %br
              University of Technology Delft, * Philips Research
              Europe
  %thead
    %tr
      %th
        %span
          AIC
          2007 Color Science for Industry
          %br
          Midterm Meeting of International Color Association
          %br
          12-14 July 2007, Zhejiang University, HangZhow, China
  %tbody
    %tr
      %td
        %table
          %tr
            %td p215
          %tr
            %td
              Coloured surfaces – architecture's
              expanded field: An inquiry into colour
              %br
              application in Switzerland's contemporary architecture
              %br
              V. M. Schindler
    %tr
      %td
        %table
          %tr
            %td p219
          %tr
            %td
              Colour as a communication device
              in urbanism and architecture: A case study
              %br
              of the New Town of La Croix-Bonnet, Bois d'Arcy,
              France
              %br
              M. Cler, F. Cler, V. M. Schindler
    %tr
      %td
        %table
          %tr
            %td p235
          %tr
            %td
              The guideline of the color plan
              for the facilities and landscape of seven districts
              %br
              in a new administrative city in Korea
              %br
              J.-S. Lee, E.-M. Jin
    %tr
      %td
        %table
          %tr
            %td p259
          %tr
            %td
              Cross-cultural color difference
              between European and Japanese streetscapes -
              %br
              In the case of Great Britain, Italy, Austria and
              Japan -
              %br
              S. Iijima, T. Inagaki, T. Naoi
  %thead
    %tr
      %th
        %span
          AIC
          2005 The 10th Congress of the International Color Association
          %br
          8-13 May 2005, Granada, Spain
  %tbody
    %tr
      %td
        %table
          %tr
            %td p.209
          %tr
            %td
              Colour and urban publicity in
              the construction of the image of the contemporary
              city
              %br
              M. M. Ávila, M. Minervini
              %br
              Instituto del Color - School of Arquitecture Urbanism
              and Design
              %br
              National University of Córdoba
    %tr
      %td
        %table
          %tr
            %td p.1577
          %tr
            %td
              The daylight and the perceived
              colour appearance in the design of urban image
              %br
              M. M. Avila, M. Polo, A. Incatasciato, I. Girelli,
              %br
              M. M. Mariconde, D. Suarez, and G. Olguin
              %br
              Institute of Colour from the School of Architecture,
              Town Planning and Design
              %br
              of the National University of Córdoba.
    %tr
      %td
        %table
          %tr
            %td p.405
          %tr
            %td
              Chromatictownscape: a manifesto.
              %br
              Colour communication and cultural identity in urban
              planning and architecture
              %br
              M. Cler,* F. Cler,* V. M. Schindler*
              %br
              * Atelier Cler Etudes Chromatiques Urbanisme Architecture
              Design, Paris
    %tr
      %td
        %table
          %tr
            %td p.1581
          %tr
            %td
              CHROMATICTOWNSCAPE
              %br
              Colour policy in the French Ain Region: colour studies
              for towns, villages and valleys
              %br
              M. Cler,* F. Cler,* V. M. Schindler*
              %br
              * Atelier Cler Etudes Chromatiques Urbanisme Architecture
              Design
    %tr
      %td
        %table
          %tr
            %td p.1593
          %tr
            %td
              Publicity’'s value on chromatic
              construction of the city
              %br
              M. I. Girelli, M. A. Marchisio and J. E. Peralta
              %br
              Colour Institute of the School of Architecture,
              Town Planning and Design
              %br
              of the National University of Córdoba.
    %tr
      %td
        %table
          %tr
            %td p.1529
          %tr
            %td
              A study on evaluation of the interior
              atmospheres
              %br
              and the choice of behavior with effects of lighting,
              color and gloss: Part 2
              %br
              T. Inagaki1 and S. Iijima2
              %br
              1Department of Architecture, Faculty of Engineering,
              Daido Institute of Technology
              %br
              Nagoya (JAPAN)
              %br
              2Department of Environmental and Tourism Science,
              Faculty of Commerce Okayama Shoka University Okayama
              (JAPAN)
    %tr
      %td
        %table
          %tr
            %td p.1569
          %tr
            %td
              The Successive Colour Change on
              Building Stone in Edinburgh
              %br
              S. Iijima, T. Inagaki, T. Naoi
              %br
              Okayama Shoka University （Japan）
              %br
              Daido Institute of Technology (Japan)
              %br
              Okayama Shoka University （Japan）
  %thead
    %tr
      %th
        %span
          AIC
          2005 The 10th Congress of the International Color Association
          %br
          8-13 May 2005, Granada, Spain
  %tbody
    %tr
      %td
        %table
          %tr
            %td p.1541
          %tr
            %td
              Background color effect on sign
              visibility and recognition at transport
              %br
              facilities -Surveillance study on signs in large
              scale railway stations in
              %br
              metropolitan areas
              %br
              S. Yamamoto*, S. Inoue** and K. Nishikawa*
              %br
              * Institute of Art and Design, University of Tsukuba
              (JAPAN)
              %br
              ** Tsukuba College of Technology (JAPAN)
    %tr
      %td
        %table
          %tr
            %td p.21
          %tr
            %td
              Lighting system for elderly to
              prevent color desaturation due to cataract crystalline
              lens
              %br
              H. Shinoda*, T. Kawano**, Y. Matsubara**, M. Yokoyama***,
              T. Motoki*** and S.Inoue***
              %br
              *Departament Human & Computer Intelligence, Ritsumeikan
              University (JAPAN)
              %br
              **Yoshichu Mannequin Co. Kyoto (JAPAN)
              %br
              ***Kuroi Electric Co. Ltd., Kyoto (JAPAN)
    %tr
      %td
        %table
          %tr
            %td p.397
          %tr
            %td
              Color Composition of Cityscape
              and its Visual Impression
              %br
              T. Ishida, F. Kawaguchi
              %br
              Department of Architecture and Architectural Engineering,
              Kyoto University
    %tr
      %td
        %table
          %tr
            %td p.1565
          %tr
            %td
              Framing the Palette for Color
              Design by the Image Types in the Office Interior
              %br
              J-S. Lee, E-M. Jin
              %br
              Dept. of Architectural Engineering, College of Engineering,
              Chungnam National University
    %tr
      %td
        %table
          %tr
            %td p.455
          %tr
            %td
              The Making a Guide Line of Exterior
              Color Design for Color Coordination in The Commercial
              District
              %br
              J-S. Lee, M-J. Lee
              %br
              Dept. of Architectural Engineering, College of Engineering,
              Chungnam National University
    %tr
      %td
        %table
          %tr
            %td p.1533
          %tr
            %td
              Three estimation types of color
              scheme preference
              %br
              K. Maki
              %br
              Department of Human Environmental Sciences, Faculty
              of Human Life Sciences,
              %br
              Jissen Women’s University
    %tr
      %td
        %table
          %tr
            %td p.1573
          %tr
            %td
              Quantitative Dichromatic Color
              Harmony Rules based on Coloroid System
              %br
              L. Neumann1, A.Nemcsics2, A. Neumann3
              %br
              1ICREA, Barcelona and Graphics Group of Universitat
              de Girona, Spain
              %br
              2Budapest University of Technology and Economics,
              Hungary
              %br
              3Vienna University of Technology, Institute of Computer
              Graphics, Austria
  %thead
    %tr
      %th
        %span
          AIC
          2005 The 10th Congress of the International Color Association
          %br
          8-13 May 2005, Granada, Spain
  %tbody
    %tr
      %td
        %table
          %tr
            %td p.1391
          %tr
            %td
              Experimental revealing of harmony
              correlations
              %br
              definable within the colour space of Coloroid Colour
              System
              %br
              A. Nemcsics
              %br
              Budapest University of Technology and Economics
    %tr
      %td
        %table
          %tr
            %td p.1561
          %tr
            %td
              Enviromental Color Analysis of
              Sunyu-island Region in Seoul
              %br
              M-j. Choi, C-s. Kim, Y-s. Park
              %br
              Color design Master's course, Hong-ik University
              (KOREA)
    %tr
      %td
        %table
          %tr
            %td p.487
          %tr
            %td
              Charles Henry’ Colour Circle (1888/1889)
              and his scientific aesthetics
              %br
              V. M. Schindler
              %br
              Atelier Cler Etudes Chromatiques Urbanisme Architecture
              Design, Paris
    %tr
      %td
        %table
          %tr
            %td p.159
          %tr
            %td
              Perception and Sensitivity to
              Colour and Office Space
              %br
              Characteristics After a Work Week
              %br
              N. Kwallek, K. Soon
              %br
              School of Architecture, Interior Design,
              %br
              The University of Texas at Austin
    %tr
      %td
        %table
          %tr
            %td p.85
          %tr
            %td
              Colour courses in architectural
              education and in Yıldız Technical University
              %br
              R. Ünver
              %br
              Yıldız Technical University, Architectural Faculty,
              Building Physics Department
    %tr
      %td
        %table
          %tr
            %td p.451
          %tr
            %td
              Design process of facade colours
              and an application
              %br
              R. Ünver
              %br
              Yıldız Technical University, Architectural Faculty,
              Building Physics Department
    %tr
      %td
        %table
          %tr
            %td p.1043
          %tr
            %td
              Reproducing an appearance of the
              objects using high bright projector
              %br
              S. Yamamoto1.2,M. Tsuruse2,K. Ueda2, N. Tsumura2,T.
              Nakaguchi2,Y. Miyake3
              %br
              1 Advanced R&D Center, Mitsubishi Heavy Industries,
              Ltd
              %br
              2 Graduate School of Science and Technology, Chiba
              University
              %br
              3Center for Frontier Medical Engineering, Chiba
              University
    %tr
      %td
        %table
          %tr
            %td p.443
          %tr
            %td
              Historic paint colors of Spanish
              St. Augustine
              %br
              F.S. Welsh
              %br
              President, Welsh Color and Conservation, Inc., and
              %br
              Research Associate, Department of Geology, Bryn
              Mawr College, Bryn Mawr Pennsylvania (U.S.)
  %thead
    %tr
      %th
        %span
          AIC
          2003 Color Communication ad Management
          %br
          4-6 August 2003, Bangkok, Thailand
  %tbody
    %tr
      %td
        %table
          %tr
            %td p28
          %tr
            %td
              \- Color Image
              %br
              Making evaluation prediction model of interior finishing
              by CG
              %br
              J.S. Lee, E.M. Jin and Y.M. Park, Chungnam National
              University (Korea)
    %tr
      %td
        %table
          %tr
            %td p233
          %tr
            %td
              \- color communication
              %br
              The relation between stone color and streetscape
              color on various blocks in a city-A case study at
              Ghent in Flanders, Belgium-
              %br
              S.Iijima, Okayama Shoka University (Japan) and T.Inogaki,
              Daido Institute of Technology (Japan)
    %tr
      %td
        %table
          %tr
            %td p26
          %tr
            %td
              \- color management
              %br
              Blackness, whiteness, chromaticness : Formulas for
              high visibility in the modern city
              %br
              G.Minah, University of Washington (USA)
    %tr
      %td
        %table
          %tr
            %td p35
          %tr
            %td
              \- color environmental design
              %br
              Evaluation of psychological images associated with
              colors as an aid for architectural color decision
              %br
              T.Ishida and J.Sakai, Kyoto University (Japan)
    %tr
      %td
        %table
          %tr
            %td p34
          %tr
            %td
              \- color environmental design
              %br
              Effects of light sources and colors of interior
              elements on atmosphere in the living room
              %br
              M.Miyamoto, The University of shiga Prefecture (Japan)
    %tr
      %td
        %table
          %tr
            %td p7
          %tr
            %td
              \- colorimetry and color vision
              %br
              The physiological and psychological effects of color
              in the interior space
              %br
              H.Sakai, A.Emami, T.Shimonaka, K.Yamashita, M.Sato,
              Osaka City University (Japan)
  %thead
    %tr
      %th
        %span
          AIC
          2001 The 9th Congress of the International Color Association
          %br
          24-29 June 2001, Rochester, NY
  %tbody
    %tr
      %td
        %table
          %tr
            %td 88p
          %tr
            %td
              black : meaning and connotation
              in europe and africa
              %br
              L.OBERASHER,F.Oberasher, oko-psy(austria)
    %tr
      %td
        %table
          %tr
            %td 255p
          %tr
            %td
              assessment of color apperarance
              in photopic and mesopic illuminances based on color
              identification data
              %br
              T.Ishida, kyoto univ.(japan)
    %tr
      %td
        %table
          %tr
            %td 118p
          %tr
            %td
              Analysis of colors used on outdoor
              advertising in urban landscape : a case study on
              osaka city
              %br
              m.takahashi, k. fujibayshi, t. shimonaka, m.sato,
              osaka city univ.(japan): k.sawa, japan color technology
              institute.
    %tr
      %td
        %table
          %tr
            %td 103p
          %tr
            %td
              A study on evaluation of exterior
              colors of buildings with effects of color of foreground
              buildings
              %br
              t.lnagaki,daido institute of technology(japan)
    %tr
      %td
        %table
          %tr
            %td 134p
          %tr
            %td
              gender, colour, and the domestic
              sphere in western australia 1890-191
              %br
              p.metcalfe, curtin univ, of technology(australia)
    %tr
      %td
        %table
          %tr
            %td 158p
          %tr
            %td
              measurement of area effect by
              the color panel size
              %br
              j.-s.lee, chungnam national univ.(korea):c.-s, kim,
              kriss(korea):o.y.yim. konyang univ.(korea): d.-h.
              lee, chungnam national univ.(korea)
    %tr
      %td
        %table
          %tr
            %td 150p
          %tr
            %td
              increasing use of yellow colors
              in kyoto
              %br
              m.akitam kyoto institute of technology(japan): i.nara.kyoto
              univ. of art and design(japan)
    %tr
      %td
        %table
          %tr
            %td 154p
          %tr
            %td
              exterior colour of the traditional
              northern hungarian country houses
              %br
              z.karman, adiministration office of budapest(hungary)
    %tr
      %td
        %table
          %tr
            %td 162p
          %tr
            %td
              colour-form meanings ; interconnections
              between perception, association, and symbolism
              %br
              r.newton, liveerpool john moores univ.(uk)
    %tr
      %td
        %table
          %tr
            %td 166p
          %tr
            %td
              arosario, a grey city
              %br
              a.del rio.c.rainero. univ. nacional de rosario(argentina)
    %tr
      %td
        %table
          %tr
            %td 138p
          %tr
            %td
              color in present culture of european
              architecture
              %br
              v.m.schindler, univ, of zurich(switzerland)
    %tr
      %td
        %table
          %tr
            %td 110p
          %tr
            %td
              color and urban image at the beggings
              of the 21st century
              %br
              m.m.avila. national univ. of cordoba(argentina)
    %tr
      %td
        %table
          %tr
            %td 84p
          %tr
            %td
              paint or color? bursa example
              %br
              s.habib,n,cetinturk,gazi univ(turkey)
  %thead
    %tr
      %th
        %span
          AIC
          2001 The 9th Congress of the International Color Association
          %br
          24-29 June 2001, Rochester, NY
  %tbody
    %tr
      %td
        %table
          %tr
            %td 72p
          %tr
            %td
              color constrasts in advertising
              \: facade colors of food and drink consumption venues
              %br
              j.hutchings,consultant(uk)
    %tr
      %td
        %table
          %tr
            %td 76p
          %tr
            %td
              climate and coloured walls : in
              search of visual comfort
              %br
              m.attarte-grau,consultant(peru)
    %tr
      %td
        %table
          %tr
            %td 80p
          %tr
            %td
              what colour is the red house?an
              invitation for multicultural research on colour
              and architecture
              %br
              k.f.anter,royal institute of technology(sweden)
    %tr
      %td
        %table
          %tr
            %td 122p
          %tr
            %td
              colour apperance in virtual reality
              \: a comparison between a full-scale room and a virtual
              reality simulation
              %br
              m.billger,s.d'elia, chalmers univ, of technology(sweden)
    %tr
      %td
        %table
          %tr
            %td 127p
          %tr
            %td
              how does our visual system interpret
              the color of light filled in a three-dimensional
              space?
              %br
              n.toda,t.ishida,kyoto univ(japan)
    %tr
      %td
        %table
          %tr
            %td 166p
          %tr
            %td
              rosario,a grey city
              %br
              a.del rio,c.rainero,univ,nacional de rosario(argentina)
  %thead
    %tr
      %th
        %span
          Color
          research & application
  %tbody
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Color meaning and context: Comparisons
              of semantic ratings of colors on samples and objects
              %br
              Charles Taft, Sweden
              %br
              Volume 22, Issue 1, Date: February 1997, Pages:
              40-50
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Image retrieval system for street-landscape
              images using adjectives
              %br
              Tatsuya Shibata, Toshikazu Kato
              %br
              Volume 32, Issue 6, Date: 15 June 2001, Pages: 62-71
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              A study of the emotional evaluation
              models of color patterns based on the adaptive
              fuzzy system and the neural network
              %br
              Jinsub Um, Kyoungbae Eum, Joonwhoan Lee, Chonbuk
              National University
              %br
              Volume 27, Issue 3, Date: June 2002, Pages: 208-216
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Investigation of Human's Emotional
              Responses on Colors
              %br
              Xiao-Ping Gao, John H. Xin, Hong kong
              %br
              Volume 31, Issue 5, Date: October 2006, Pages: 411-417
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Hue, saturation, lightness, and
              building exterior preference: An empirical study
              in Turkey comparing architects' and nonarchitects'
              evaluative and cognitive judgments
              %br
              Ebru Cubukcu,Turkey Ilker Kahraman
              %br
              Volume 33, Issue 5, Date: October 2008, Pages: 395-405
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Analysis of affective factors
              of colored three-dimensional shapes
              %br
              Takeshi Miura, Kenshi Matsuo, Toshiyuki Taniguchi
              %br
              Volume 92, Issue 5, Date: May 2009, Pages: 41-54
  %thead
    %tr
      %th
        %span
          SUGGESTION
          BY AIC MEMBERS
  %tbody
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Investigation and Analysis of
              Color Terms in Modern Japanese
              %br
              Shoji Tominaga, Ayaji Ono, Takahiko Horiuchi
              %br
              SPIE-IS&T/Vol.7528, 752804
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Color naming: color scientists
              do it between Munsell Sheets of Color
              %br
              Giordano B. Beretta, Nathan M. Moroney
              %br
              SPIE-IS&T/Vol.7528, 75280V
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Conceptual Color Metaphor Mapping
              %br
              Jodi L. Sandford
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              The spatial relations of color:
              Linguistic categorization of LIGHT-DARK and NEAR-FAR
              %br
              Jodi L. Sandford
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Psychological processes influencing
              lighting quality
              %br
              Jennifer A. Veitch
              %br
              Journal of the Illuminating Engineering Society,
              v. 30, no. 1, 2001, pp. 124-140
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              I can Tell You What Colour It
              Is
              %br
              Jodi L. Sandford
              %br
              Textus special issue, Genova: Tilgher 2010
    %tr
      %td
        %table
          %tr
            %td
          %tr
            %td
              Warm, Cool, Light, Dark, or Afterimage:
              Dimensions and Connotations of Conceptual Color
              Metaphor / Metonym
              %br
              Jodi L. Sandford
