%h2 News

= render :partial => 'news_items/news_item', :collection => @news_items, :locals => {:is_index => true}

- if current_member.try(:is_admin?)
  = link_to 'New news item', new_news_item_path, {class: 'btn btn-primary'}
  = link_to 'View unpublished news', news_items_path, {class: 'btn btn-default'}
