%h1
  The Language of Color
%h2
  AIC Study Group
%p
  Duis convallis tempor diam vitae auctor. Fusce interdum purus eu diam accumsan, eu aliquet lorem volutpat. Praesent et tempus nulla.
%p
  = "The time is now: #{Time.now}"
%hr
%h2
  Sample Form
%form
  .form-group
    %label{:for => "exampleInputEmail1"} Email address
    %input#exampleInputEmail1.form-control{:placeholder => "Enter email", :type => "email"}
  %button.btn.btn-primary
    Submit
%hr