%h1
  The Language of Color
%h2
  AIC Study Group
%p
  Duis convallis tempor diam vitae auctor. Fusce interdum purus eu diam accumsan, eu aliquet lorem volutpat. Praesent et tempus nulla.
%p
  = "The time is now: #{Time.now}"
%hr
= link_to 'Register as a member', new_member_registration_path, {class: 'btn btn-primary'} unless current_member
