.row
  .col-lg-12
    %h2 Privacy
    %p The International Colour Association (AIC), we are committed to maintaining the trust and confidence of our visitors to our web site. In particular, we want you to know we are not in the business of selling, renting or trading email lists with other companies and businesses for marketing purposes. In this Privacy Policy, we’ve provided detailed information on when and why we collect your personal information, how we use it, the limited conditions under which we may disclose it to others and how we keep it secure.
