.row
  .col-lg-12
    %h2 Privacy
    %p The International Colour Association (AIC), we are committed to maintaining the trust and confidence of our visitors to our web site. In particular, we want you to know we are not in the business of selling, renting or trading email lists with other companies and businesses for marketing purposes. In this Privacy Policy, we’ve provided detailed information on when and why we collect your personal information, how we use it, the limited conditions under which we may disclose it to others and how we keep it secure.
    %p The AIC may collect the following information about you:

    %ul
      %li your name
      %li your contact details: postal address including, telephone numbers (including mobile numbers) and e-mail address, country, association affiliation
      %li your on-line browsing activities on AIC websites
      %li your password
      %li your communication and marketing preferences
      %li your interests, preferences, feedback and survey responses
      %li your location
      %li your correspondence and communications with AIC
      %li other publicly available personal data, including any which you have shared via a public platform (such as a Twitter feed or public Facebook page).

    %p Our websites are not intended for children and we do not knowingly collect data relating to children.
    %p This list is not exhaustive and, in specific instances, we may need to collect additional data for the purposes set out in this Policy. Some of the above personal data is collected directly, for example when you set up an on-line account on our websites, or send an email to us. Other personal data is collected indirectly, for example your browsing activity.
    %p As part of the registration process for our communication emails, monthly e-newsletter and annual report, we collect personal information. We use that information for a couple of reasons: to tell you about stuff you’ve asked us to tell you about; to contact you if we need to obtain or provide additional information; to check our records are right and to check every now and then that you’re happy and satisfied. We don't rent or trade email lists with other organizations and businesses.
    %p We use a third-party provider, Wild Apricot, to deliver our newsletter and emails. We gather statistics around email opening and clicks using industry standard technologies to help us monitor and improve our communications. You can unsubscribe to general mailings at any time by clicking the unsubscribe link at the bottom of any of our emails or by emailing the AIC Secretary  treasurer@aic-color.org
    %p When you purchase a membership through the AIC website your name, address data, email and contact number will be stored in our AIC system, Wild Apricot.  Please be assured that we do not share your personal details with any other company without your consent.
    %p You are entitled to view, amend, or delete the personal information that we hold. This can be done by accessing your personal profile or email your request to the Chair of the Study Group on the Language of Colour: language-of-color@aic-color.org

    %h2 Information & Links
    %p All information provided on the International Color Association (AIC) is provided for information purposes only and does not constitute a legal contract between the AIC and any person or entity unless otherwise specified. Information on the AIC website is subject to change without prior notice. Although every reasonable effort is made to present current and accurate information, the AIC makes no guarantees of any kind.
    %p The AIC website may contain information that is created and maintained by a variety of sources both internal and external to the AIC.  In no event shall the AIC be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods, or services available on or through any such site or resource.
    %p Any links to external websites and/or non-AIC information are provided as a courtesy. They should not be construed as an endorsement by AIC of the content or views of the linked materials.


    %h2 Cookies
    %p This website uses cookies. We use cookies to personalize content, to provide social media features and to analyse our traffic. You consent to our cookies if you continue to use our website.
    %p Cookies are small text files that can be used by websites to make a user's experience more efficient.
    %p The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.
    %p You can at any time change or withdraw your consent from the Cookie Declaration on our website.
    %p Learn more about who we are, how you can contact us and how we process personal data in our Privacy Policy.
    %p Your consent applies to the following domains: aic-color.org
    %p Cookie declaration last updated on 02/07/2018 by #{ link_to 'Cookiebot', 'https://www.cookiebot.com/en/', target: '_blank' }:
    %p Two Necessary cookies that help us make our website usable by enabling basic functions like page navigation and access to secure areas of the website, such as personal profile. The website cannot function properly without these cookies.

    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Provider
          %th Purpose
          %th Expiry
          %th Type
      %tbody
        %tr
          %td CookieConsent
          %td aic-color.org
          %td Stores the user's cookie consent for the current domain
          %td 1 year
          %td HTTP Cookie
        %tr
          %td JSESSIONID
          %td nr-data.net
          %td Preserves users states across page requests.
          %td Session
          %td HTTP Cookie

    %p Two unclassified cookies that we are in the process of classifying, together with the providers of individual cookies.

    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Provider
          %th Purpose
          %th Expiry
          %th Type
      %tbody
        %tr
          %td sk863f4
          %td aic-color.org
          %td Pending
          %td Session
          %td HTTP Cookie
        %tr
          %td tcc
          %td aic-color.org
          %td Pending
          %td Session
          %td HTTP Cookie

    %p This policy was last reviewed on July 3, 2018
