%h1 News

= render :partial => 'news_item', :collection => @news_items, :locals => {:is_index => true}

= link_to 'New news item', new_news_item_path, {class: 'btn btn-primary'} if current_member.try(:is_admin?)
