%h1 Resources

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th{width: '12%'} Published at
      %th{width: '50%'} Title
      %th Author
      - if current_member.try(:is_admin?)
        %th{width: '5%'} Edit
        %th{width: '7%'} Destroy

  %tbody
    - @resources.each do |resource|
      - if resource.published? || current_member.try(:is_admin?)
        %tr
          %td= resource.published_at.strftime('%F')
          %td= link_to resource.title, resource
          %td= resource.author
          %td
            - if current_member.try(:is_admin?)
              %a{href: edit_resource_path(resource), title: 'Edit'}
                %i.fa.fa-pencil
          %td
            - if current_member.try(:is_admin?)
              %a{href: resource_path(resource), title: 'Destroy', :data => { :confirm => 'Are you sure?', :method => :delete }}
                %i.fa.fa-trash

= link_to 'New Resource', new_resource_path, {class: 'btn btn-primary'} if current_member.try(:is_admin?)
