// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content-area {
  margin-bottom: 30px;
}
.top-spaced {
  margin-top: 36px;
}

#twitter li {
  margin-bottom: 10px;
}

footer {
  margin-top: 30px;
}
