%h1 Editing member

.row
  .col-lg-9
    = render 'form'

%p
  = link_to 'Cancel', @member

= link_to 'Terminate membership', @member, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
