%h1 Members Area

%p
  Welcome to the
  %strong Language of Color
  study group Member's area of the International Color Association (AIC).

%p Existing members can log in to the site and access contact details of other members, newsletters, details of meetings, articles, datasets and other resources.

%p The membership is free and open to everyone. You can join us online by using the registration form or at the AIC meeting where we will be hosting an event.

%p Your name and personal website (if any) will be open to the public but your contact details will be only available to existing members.

%h2.top-spaced Values and principles

%ul
  %li The membership is free and open to everyone
  %li Members can apply online or at the AIC meetings (Midterm & Congress)
  %li Communication network; each member has access to the contact details of all members
  %li Members’ commitment to sharing ideas and information
  %li Sharing responsibility of developing the topic and adhering to the timeframe
  %li Co-operation rather than competition
  %li Attendance of SGLC meetings is open to anybody interested in this field

%h2.top-spaced Current Members

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th First name
      %th Last name
      / %th Title
      %th Country
      - if current_member.present?
        / %th Job title
        / %th Organisation
      %th Link
      - if current_member.present?
        %th Email
      / %th
      / %th
      / %th

  %tbody
    - @members.each do |member|
      %tr
        %td= member.first_name
        %td= member.last_name
        / %td= member.title
        %td= member.country_of_residence
        - if current_member.present?
          / %td= member.job_title
          / %td= member.organisation
        %td
          - if member.link.present?
            %a{href: member.link, title: member.link, target: '_blank'}
              %i.fa.fa-link
        - if current_member.present?
          %td
            %a{href: "mailto:#{member.email}", title: member.email, target: '_blank'}
              %i.fa.fa-envelope-o
        / %td= link_to 'Show', member
        / %td= link_to 'Edit', edit_member_path(member)
        / %td= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }
